report/*.pdf
report/*.fdb_latexmk
report/*.fls
report/*.log
report/*.out
report/*.synctex*
report/*.toc
report/*.aux

# Ignore generated platform from Vivado
vitis_workspace/Nonogram

sw-prototyping/docs
sw-prototyping/cmake-build-*

