report/*.pdf
report/*.fdb_latexmk
report/*.fls
report/*.log
report/*.out
report/*.synctex*
report/*.toc
report/*.aux

# Ignore generated platform from Vivado
vitis_workspace/Nonogram

# Ignore Doxygen
vitis_workspace/SolverCore/docs

# Ignore startup artefacts from Vivado
vivado*.jou
vivado*.log
vivado_pid*.str

